* {
    margin: 0;
    box-sizing: border-box;
}
  
img, svg, picture {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    background-color: #F4D04E;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.card-container {
    background-color: white;
    font-family: 'Figtree';
    width: 100%;
    max-width: 384px;
    padding: 24px;
    border-radius: 20px;
    border: 1px solid black;
    box-shadow: 7px 7px black;
}

.card-image {
    display: flex; 
    justify-content: center;
    border-radius: 10px;
    max-width: 100%;
    margin-bottom: 1.5rem;
}

.date {
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 16px;
}

.description {
    color: hsl(0, 0%, 50%);
    margin-top: 16px;
    margin-bottom: 24px;
    font-weight: 375;
    line-height: 1.4;
    font-size: 0.85rem;
}

.card-content h2:hover {
    color: #F4D04E;
    cursor: pointer;
}

.category {
    background-color: hsl(47, 88%, 63%);
    padding: 4px 12px;
    border-radius: 4px;
    height: 32px;
    width: 94px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .85rem;
    font-weight: bold;
}


.card-author {
    display: flex;
    align-items: center;
}

.author {
    font-size: 0.83rem;
    font-weight: bold;
}

.author-img {
    width: 32px;
    margin-right: 12px;
}
